[2018-06-15 16:10] dothem1337 opened #1 "Paths on Windows"
hey, great lib!

But i have problems on windows system with the build process. Windows does not like ./ paths. Can you maybe fix this? :)

If not, I can build my own lib for windows :)

Thank you!

[2018-06-18 04:44] tehpsalmist commented on #1
Hey dothem1337, sorry I didn't see this issue earlier in the weekend. If you've already created a solution, I'd love to review a PR. Otherwise, if you can give me a couple days to figure it out, I might be able to resolve this one myself. I really only have experience with linux/Mac, so any tips or experience you can share would also be helpful to get this feature/fix out quickly. Thanks!

[2018-06-18 04:48] tehpsalmist opened #2 "React-compatible scripts"
Create-react-app shares same basic folder structure, but (obviously), has different scripts and default global stylesheet name (index.css). Some tweaking, and this tool could be useful for React projects out of the box, as well. Currently, I'm thinking a --react (-r) flag would alter defaults and scripts accordingly, but maybe it would be a better user experience if the library intelligently detec

[2018-06-18 04:56] tehpsalmist commented on #1
Just doing some cursory reading, and now I'm curious where specifically you are getting errors?

[2018-06-18 07:03] dothem1337 commented on #1
hey @tehpsalmist

The problem is on build, so on npm start or something else, it will fail, because it cant not resolve the ./node_modules/.bin path.

Windows cant handle ./ paths. I fixed it with the follwowing: path.resolve
The build.js shoud look like:

[code]

But now, I have another problem with the watch. It doesnt watch my files. And I did not found out why. The changes to the files take no

[2018-06-19 22:23] tehpsalmist commented on #1
Ok, it sounds like Windows is going to have many issues with this path problem. I'm not sure how soon I'll be able to roll out a solution, or how well tested it can be, since my only windows machine is in parts right now. I'll figure something out. In the meantime, if you want to submit a PR, that would be helpful too. Thanks for all the feedback!

[2018-06-20 03:07] tehpsalmist commented on #1
@dothem1337 , I think I have some solutions in the works here. Stay tuned for a release, and if you can reproduce the watch error, and let me know what your `ng-tailwind.js` file looks like when you run watch, that would be helpful too. If your config doesn't match your actual file structure, that would obviously be a problem. Thanks again for the feedback, I wouldn't have foreseen this issue othe

[2018-06-20 05:27] #1 closed, assigned to tehpsalmist

[2018-08-08 03:53] matthewharwood opened #4 "How can we get purgeCSS working with ng-tailwindcss"
The default bundle of tailwind is 300kb... in my experience a tailwind max will be 40kbs after purgeCSS... do you know how we can get this working in angular?

[2018-08-08 04:39] tehpsalmist commented on #4
That is an excellent question. I have been meaning to get around to that, because it dovetails so nicely with tailwind. What resources have you found helpful for understanding the purgeCss process "under the hood"? I think we can get this feature out soon.

[2018-08-08 05:47] tehpsalmist commented on #4
@matthewharwood What do you think about this thought process:

PurgeCSS works great with tailwind, but it is a separate library/tool. As such, ng-tailwindcss is concerned primarily with using PurgeCSS on the documents generated by tailwind directly, rather than the final stylesheets that may include any component styles.
Furthermore, styles added at the component level are highly likely to be used

[2018-08-09 18:19] matthewharwood commented on #4
My knowledge of purgeCSS is pretty limited.  I was following egghead.io course where they talked about it.  If I was to guess how it works under the hood, I'd think it would have to parse your static html files.  The hard part is that static HTML doesn't render in Angular by default.  I have a project where I[ prerender all my pages in angular to vanillia HTML.](https://github.com/morningharwood/m

[2018-08-09 18:21] matthewharwood commented on #4
I'm not sure on how you make it super tiny tho? could you add some docs around doing this? 95% is prob enough for my usecase.

[2018-08-09 18:41] tehpsalmist commented on #4
I was playing around last night, and just using the simple config from the purgecss docs did a fantastic job of scrapping unused tailwind css. The tricky part is going to be finding a typescript extractor that will adequately parse our component.ts (and service.ts?) files and discover any other classes that should be included. Worst case scenario, you run purgecss in development and then you will

[2018-08-12 23:04] tehpsalmist opened #5 "Hot Reloading of ng-tailwind.js on file change"
Up til now (with the pending release of 1.1.0 and PurgeCSS integration), this config file hasn't been a big deal (most likely) for typical users, but now that we will have PurgeCSS configurations stored here, and especially the whitelists, it is going to be a pain to update that and then have to refresh the dev server (think cmd+c -> npm start). I'm thinking that 1.1.1 or 1.1.2 should have some so

[2018-08-12 23:04] tehpsalmist commented on #5
Curious if anyone else has implementation ideas for hot-swapping. I'm trying to avoid getting into too many libraries, and I don't think that would be necessary for just dealing with one file in this case. I tried out [hotswap](https://github.com/rlidwka/node-hotswap), and it worked fine, but it wasn't perfect (duplicate events emitted which complicates logging, awkward `module.change_code = true`

[2018-08-12 23:10] tehpsalmist commented on #4
Pretty much got the implementation done, just gotta write up the docs before I release it. Don't want people to feel lost or confused. :)

[2018-08-13 15:31] matthewharwood commented on #4
Ayeee great job! looking forward to it!

[2018-08-15 06:40] #4 closed, assigned to tehpsalmist

[2018-08-15 15:09] MatthewLHolden opened #7 "Tailwind css output not being updated"
I've started to have issues whereby any changes to tailwind.js is simply not being reflected elsewhere.
This was working fine up until this morning.

I'm now getting:

[code]

I had a base project where everything was working. I copied and pasted that to have a foundation to work from. Now both are completely messed up. I've installed tailwind and ng-tailwindcss with absolutely no luck.

The only

[2018-08-15 15:33] tehpsalmist commented on #7
And those paths are valid on your machine? What command did you run when you got that output and what version of ng-tailwindcss are you running?

[2018-08-15 15:37] tehpsalmist commented on #7
Also, what is it that you copied from one project to the other? ng-tailwind.js?

On that note, I would advise against copying stuff over, because the configure command will build everything for you. Have you tried running `ngtw c` with valid paths?

[2018-08-15 15:48] MatthewLHolden commented on #7
Hey,

I just built an entirely new project, followed all the steps and had the output.css working ok. If I make any changes to the tailwind.js file and then `npm start` or `build`, the output css doesn't have any updates.

I have to create quite a few quick projects often, so I thought I'd create a template and update the ng-tailwind.js locations as going through all the install steps can get quit

[2018-08-15 16:02] MatthewLHolden commented on #7
I don't store node modules on github when i check in my code. After an npm install, it seems to get broken. Are there any suggestions on the best way for me to carry on using ng-tailwind effectively? I've tried reinstalling everyone on that particular project and it throws the same error each time.

[2018-08-15 16:24] tehpsalmist commented on #7
Are you using ng-tailwindcss locally? I only built it to work as a global CLI tool, so I've never tested it locally. It sounds like you have a unique situation (building multiple angular projects sounds interesting), but if you can detail the exact steps/commands you are taking to create a new project and the error output, then I can see if it is a bug or not. I'm wondering if you are initializing

[2018-08-15 16:37] tehpsalmist commented on #7
In the meantime, I'd recommend keeping these commands within copy/paste reach for spinning up new projects quickly (this assumes ng-tailwindcss is already globally installed):

(one-liner for getting tailwind installed in a fresh angular cli project)
[code]
Then to ensure your setup is good, run `ngtw c` or, if you customize your folder structure, then include the relative paths with that command,

[2018-08-15 17:03] tehpsalmist commented on #7
Not sure if this is related, but just ran across this: https://github.com/tailwindcss/tailwindcss/pull/520

[2018-08-16 07:14] MatthewLHolden commented on #7
Thanks for the awesome response Ben. I'll give this a shot and let you know how it goes :)

[2018-08-16 07:31] MatthewLHolden commented on #7
Hey Ben - Same result from a fresh project.

1. ng new testingTailWind && cd testingTailWind && npm i -D tailwindcss && ./node_modules/.bin/tailwind init

2. ngtw c -s ./src/app/styles/tailwind-source.css -o ./src/app/styles/tailwind-output.css

3. npm start, or build

/bin/sh: /Volumes/Work/Testing: No such file or directory

I tried adding the following to 'tailwind-source.css' also.

@tailwind

[2018-08-16 08:18] MatthewLHolden commented on #7
As a heads up, I also fetched one of my live projects that I built in angular & tailwind a month or two ago. That has now also broken. The project builds, but any changes made to the tailwind.js file can no longer be built :(

[2018-08-16 11:30] tehpsalmist commented on #7
What is your environment? Linux? Windows?

[2018-08-16 11:33] tehpsalmist commented on #7
Oh, I see, is it the space being added in your path? Your root directory is called ‘Testing Ground’ not ‘Testing’, right? This should be an easy fix, if that’s the problem.

Edit: your original post shouldn’t have had that problem, so I am still stumped.

[2018-08-16 11:45] MatthewLHolden commented on #7
Actually, the original post was a different URL from something else I was trying (my bad for copying that on here). Both paths that fail do in fact have directories with spaces! The OS is Mac.

[2018-08-16 13:43] MatthewLHolden commented on #7
Seems to be working now (Created a new file structure)...Thanks a lot for your time Ben, legend. Really appreciated.

[2018-08-16 14:04] tehpsalmist commented on #7
Glad everything is working now! I'm going to do some testing on this later on just to make sure there isn't a bug hiding somewhere, then close this issue.

[2018-08-17 03:10] tehpsalmist commented on #7
Can verify that the build command fails when the resulting absolute path contains directory names with spaces. Unacceptable. Working on a fix.

[2018-08-17 04:35] #7 closed, assigned to tehpsalmist

[2018-08-17 10:21] LoganDark opened #9 "Auto-rebuild"
`npm start` builds Tailwind and then runs `ng serve`. Great!

However... Tailwind is not rebuilt and `purgecss` is not re-run when a file is updated.

The live dev server reloads the page.

There are missing styles.

I have to restart the server with ^C-up-enter...

Is there any better solution, for example auto rebuild?

[2018-08-17 14:39] tehpsalmist commented on #9
I assume you're using the default scripts from `ngtw scripts`, but if not, please share what your scripts look like.

What file did you update? I designed it to only rebuild when you update the `sourceCSS` file or the tailwind.js configuration file.

Perhaps you are using `purge: true`? I can see where you would have a problem, then, when you add new classes to your html files, but aren't refreshi

[2018-08-18 00:58] LoganDark commented on #9
`touch tailwind.css` triggers a rebuild, but it's sad I have to run it every single time I update a file.

Additionally, `ng` always builds twice: once for the modified file, again for Tailwind.

[2018-08-18 01:10] tehpsalmist commented on #9
1. Are you running `touch tailwind.css` more than once? That doesn't seem like a good practice. Maybe just "dry saving" the existing file would be preferred?

2. Also, when you say update a file, what files do you mean (where are they in the folder structure, what extensions)? This is an important distinction, and I hope you can answer with detail, so we can ascertain whether or not there is a bug

[2018-08-18 01:13] LoganDark commented on #9
1. No. I only touch it once when I update another file.
2. It's in the `src` directory, like one of the HTML template files for a component.
3. I mean _exactly what I said_. `ng serve` builds twice:
    - It builds when I modify the template file.
    - It then builds after the `touch`, when ngtw is done building and writes to `styles.css`.
4. ![image](https://user-images.githubusercontent.com/472

[2018-08-18 01:41] tehpsalmist commented on #9
Ah, ok, I think I'm seeing what your initial concern was. Thank you for the extra details.

The catch here, and the reason for this cli tool in the first place, is that we cannot integrate tailwind (or purgeCSS) directly into the webpack configuration that is handling all of the serving/reloading/etc that makes developing angular cli projects so easy-breezy. The fact that ng serve builds after tai

[2018-08-18 01:44] tehpsalmist commented on #9
I am open to your suggestions, if you have a creative way to get closer to the angular cli's proverbial metal, but otherwise, I will close this issue. I hope that explanation helped. Happy coding!

[2018-08-18 01:44] LoganDark commented on #9
¯\\\_(ツ)\_/¯

[2018-08-18 01:44] #9 closed, assigned to nobody

[2018-09-07 11:36] mihaliak opened #10 "Sass/Scss"
Hello,

How can I use scss ?

I tried using following options in config:

`  sourceCSS: './src/scss/app.scss',
  outputCSS: './src/scss/app.css',`

But it doesnt works, It just copy scss with my imports.

[2018-09-07 17:50] tehpsalmist commented on #10
Hey @mihaliak this isn't supported yet, but I don't see why it shouldn't be. Feel free to have a look at the source code if you're interested in contributing to this feature. :) Otherwise, I'll see what I can do this weekend, perhaps.

[2018-11-27 02:41] KerryJones opened #11 "ng-tailwind.js assumes *nix slashes in paths"
I run on Windows (I know, curse me later), but all the paths are backslashes and need to be forward slashes in my case.

[2018-11-27 19:15] tehpsalmist commented on #11
Thanks for the feedback @KerryJones . Are you currently working around it by manually editing the ng-tailwind.js file?

I think I can come up with a solution for this by the end of the week. I have never used windows myself (almost tried it once...almost), so if you have any tips for how to best normalize the paths in an OS-specific way, let me know!

[2018-11-27 19:41] tehpsalmist commented on #10
I have a branch with an implementation ready, but I'm not sure how I feel about shipping this tool with node-sass along for the ride, _just in case_ someone wants to use sass... Definitely would love to hear from any users who want/need this feature. Also, if anyone knows how to maybe not require node-sass as a dependency, but rather to make use of it as a peer/optional dependency, that would be c

[2018-11-28 01:40] tehpsalmist commented on #11
@KerryJones This should be resolved with v1.1.3 and PR #12. Let me know if you run into anything else!

[2018-11-28 08:56] mihaliak commented on #10
Hey, sure optional dependency would be awesome. I think you should easily do it with try/catch block, ie make implementation without and with node-sass, then in main script you should do something like

[code]

See this https://docs.npmjs.com/files/package.json#optionaldependencies

[2018-12-14 05:15] tehpsalmist commented on #10
Thanks @mihaliak , that was a helpful suggestion. PR #13 and v1.2.0+ now supports Sass.

[2018-12-14 05:15] #10 closed, assigned to nobody

[2018-12-14 18:43] #5 closed, assigned to tehpsalmist

[2018-12-20 19:18] trycatchal opened #16 "gitignore for output file"
I think one thing missing in the documentation is guidance that the output file should probably be gitignored.

<3 this project, and thanks for the great docs!

[2018-12-21 00:20] tehpsalmist commented on #16
Hey @captaincaius Thanks for the comment, and glad you're enjoying it! Which output file are you referring to? the css output?

[2018-12-21 12:44] trycatchal commented on #16
yup :)

[2018-12-21 15:55] tehpsalmist commented on #16
Hmm, I suppose that could be ignored if you wanted to. Where do you think that should be documented?

[2018-12-26 15:29] tehpsalmist commented on #16
I would accept a PR for this, but I think at best this is something that could be recommended to a user, it's not a requirement or security issue or anything necessary like that. I'm not really sure where I would document it, and I'm not entirely convinced that this project is where the documentation belongs, so I'm going to close this issue for now.

[2018-12-26 15:29] #16 closed, assigned to nobody

[2019-01-10 15:36] MatthewLHolden opened #17 "Ability for Purge to include .LESS files in components"
In my Angular project I may extract some components into the related .LESS file and import the tailwind.css output to utilise the classes. Additionally, for all things such as buttons, overlays, inputs I have additional independent .LESS files. I've found that when purging on build all LESS files are ignored and the app cannot build correctly.

Would it be possible for purge to include the .LESS e

[2019-01-10 19:20] tehpsalmist commented on #17
I will see what I can do to expose PurgeCSS's file extensions. That would allow you to include `.less` files or any other files, for that matter.

[2019-02-02 01:12] tehpsalmist commented on #2
test comment for actions

[2019-02-02 01:38] tehpsalmist commented on #2
one more test comment, sorry to anyone watching this repo lol

[2019-02-06 12:33] RobbieTheWagner opened #19 "Angular version compatibility"
Is this compatible with Angular 6/7? I saw in the README it said something about not available in 6+.

[2019-02-06 18:33] tehpsalmist commented on #19
Yeah, it works with all of it. That line was referring to `ng eject` from angular-cli. Not related to this package.

[2019-02-06 18:33] #19 closed, assigned to nobody

[2019-02-24 16:56] jotceg opened #20 "Slow compiling times"
## Hi
### I'm making a fullstack Angular application (but separated frontend and backend stuff from each other). I'm having a problem with performance. When i'm reloading project, i'm getting very slow reloading time (~1 min). I am using the latest Angular version with latest ng-tailwindcss version. Am i doing something wrong or it's just an error?

#### I'll be thankful to every feedback :)

![im

[2019-02-24 17:06] tehpsalmist commented on #20
I don’t see any output from ngtw in your terminal. It would appear that the compile time is due to your app only(?).

[2019-02-24 17:42] jotceg commented on #20
Thank you for reply. Problem solved. Just changed a style flow: tailwind.css compiles (add imports etc) to global.css and then styles.less (angular's global stylesheet) imports it. Now it tooks about ~3sec to compile, which is perfectly fine. It was probably my problem, not library's :) And i think the problem is solved already :)

Greets

[2019-02-24 17:45] tehpsalmist commented on #20
Awesome, glad you got that compile time under control. ;)

[2019-02-24 17:45] #20 closed, assigned to nobody

[2019-02-28 18:37] jotceg opened #21 "NGTW build on save via Angular CLI?"
## Hi
I'm having pretty much easy question, but one of the most important for me right now. I'm making an app with the latest TailwindCSS and ng-tailwind version. Is there any way to call `ngtw build` on save (similarly like the Angular's CLI compiles). I am asking because now everytime i want to _extract component_, i need to call ngtw build command and in long term run it's a bit annoying. Can i

[2019-02-28 18:39] tehpsalmist commented on #21
Can you show me your package.json scripts?

[2019-02-28 18:49] jotceg commented on #21
![image](https://user-images.githubusercontent.com/39415217/53590426-0106d600-3b92-11e9-8ced-da4cf23d90d7.png)

[2019-02-28 19:11] tehpsalmist commented on #21
Ok, maybe you can explain what you mean by "_extract component_"

[2019-02-28 19:43] jotceg commented on #21
It's a term from Tailwind's page, meaning i create a component by applying some tailwind's utilies (it's a utility-kit) and then i can use them instead, eg:
`<div class='bg-blue rounded font-bold px-2 py-2'></div>`
Is equal to:
`<div class='btn btn-blue'></div>`

[2019-02-28 19:59] tehpsalmist commented on #21
and what process are you following to do this? What files are you editing? I do this all the time, and everything reloads as it is intended.

[2019-02-28 20:09] jotceg commented on #21
1. I edit TailwindCSS file (tailwind.css), where i'm adding my ___extracted components___ and loading tailwind's files.

![image](https://user-images.githubusercontent.com/39415217/53594873-213b9280-3b9c-11e9-9a9e-fa7f28dd6d77.png)

2. Save file (angular reloads the whole project, builds everything up)

...Now it should also compile the tailwind.css file where i have all of my tailwind's CSS load

[2019-02-28 20:22] tehpsalmist commented on #21
Yeah, it looks like you're trying to use Less, so I imagine that is where you have your `sourceCSS` file pointing? I built it to respond to changes in your core tailwind files, which is what you're editing, so I'm not sure why it wouldn't reload, unless you are using other processes to grab the styles from that file and running ngtw against those other files. Can you show me your ng-tailwind.js fi

[2019-03-01 19:03] jotceg commented on #21
![image](https://user-images.githubusercontent.com/39415217/53659937-0e3cc700-3c5d-11e9-8313-9417f3645865.png)

[2019-03-01 21:59] tehpsalmist commented on #21
So you're editing ./src/tailwind.css and it's not rebuilding?

[2019-03-02 06:36] jotceg commented on #21
Yes, that's the problem

[2019-03-02 15:03] tehpsalmist commented on #21
are you running `ng serve` or `npm start`?

[2019-03-02 15:25] jotceg commented on #21
`npm start`

[2019-03-02 15:30] tehpsalmist commented on #21
Then I have no idea why it's not working. Everything you've shown me is just the normal process for setting up ngtw. Is there anything else showing up in the console or any other files you've included?

[2019-03-02 15:56] jotceg commented on #21
I also have no other idea, but this is my problem, not ng-tailwindcss'. I will probably just watch the video step by step tutorial to make sure i do everything as it should be. And because of that, i'll just close this issue because it isn't that much issue, it's rather my problem. And obviously thank you for a lot feedback & help.

Jakub

[2019-03-02 15:56] #21 closed, assigned to nobody

[2019-03-02 15:58] tehpsalmist commented on #21
No problem, following the docs/examples in the readme should get you up and running without much trouble, but don't hesitate to reopen this issue if it's not working out still.

[2019-03-02 16:00] jotceg commented on #21
Ok. I will do that.
## `console.log('Thank you much again 🎉!')`

[2019-03-11 13:14] nechitagabrielarnia opened #22 "Config option to specify path to ".html" files for purging css"
First thing first, thank you for `ng-tailwind`. You did a great work with this package. I really appreciate your hard work and making Tailwind easily available for the people working in Angular.

I was wandering if you could add an extra config option (if this is already possible, please let me know) for people having their component templates in other folders than the default path which Angular g

[2019-04-28 21:47] tehpsalmist commented on #22
Well, this flew under my radar, unfortunately. Sorry about that. Have you been working around that temporarily? I may have a feature in the works that could enable this sort of functionality, but I want to understand your issue better. Do you need to watch anything in the src folder at all?

[2019-04-28 21:52] #17 closed, assigned to nobody

[2019-04-28 22:13] tehpsalmist commented on #2
So, I've actually been using this project very successfully in a Create React App environment. I feel terrible that I boxed myself in with `ng` in the name. 😅 The reality is, this works great for any project that wants to rebuild tailwind and purge css on changes to the tailwind source files. So, not sure how to proceed, but basically I want to auto-detect whether a project is react or angular, an

[2019-04-28 22:15] tehpsalmist opened #23 "Update to be fully Tailwind 1.0.0 compatible"
Not a ton to do here, but definitely would need to change some default file names, like tailwind.config.js, for example.

Obviously I will wait to release any of these changes until Tailwind goes 1.0.0-stable. No need to beta release, as any of these changes are already possible with the cli options (the whole point of the project, no?).

[2019-04-29 16:09] KevinLawlor commented on #22
+1

@tehpsalmist - excellent package, which I stumbled upon today, thanks for the hard work!

For us, using Nrwl/nx - it would be ideal to be able to configure an array of defined paths for the monorepo e.g.

- apps/my-application-one/src/
- apps/my-application-two/src/

Thanks.

[2019-04-29 16:28] tehpsalmist commented on #22
@KevinLawlor Would this be _in exclusion_ of the typical `src` directories? Or would appending your user-defined array to an array that also contained the `src` dir be ok in your situation?

[2019-04-29 18:25] KevinLawlor commented on #22
I think this is fine, so long as the purge continues with the other defined folders even when a root `src` folder may not exist.

[2019-04-29 18:57] tehpsalmist commented on #22
ok, awesome. I'll see what I can put together this week, unless @nechitagabrielarnia would like to share some details of how he did this himself.

[2019-05-01 07:10] nechitagabrielarnia commented on #22
@tehpsalmist sorry I missed the updated, was off for a few days. No need to apologize on your part :D. Thx for putting the effort into this package.

I solved my issue by modifying the package source files, I didn't refactor to extract a config variable for the path.

An array of paths would be great, because I see this monorepo (especially with those using NX) becoming more prevalent for large An

[2019-05-01 18:30] tehpsalmist commented on #22
I'll keep the version PR separate, I think. they're taking their time releasing, and it's not actually a huge change, since it's just a default value that only a fresh installation needs to worry about anyway.

Can you walk me through what this monorepo looks like in practice? Are you building/purging one stylesheet for several apps? Or is it one app (with respect to the stylesheet) that pulls fro

[2019-05-02 07:39] nechitagabrielarnia commented on #22
My specific case is a bit weird, it's not a monorepo frontend app, but actually the whole fullstack application in the same git repo.

In my case, some of the files are moved around a bit, and the default Angular hierarchy of folders is changed.

I've attached a screenshot with the structure if it helps you in any way.

In frontend folder I have most of my Angular stuff.

Let me know if you have a

[2019-05-02 19:26] tehpsalmist commented on #22
so, it looks like you ultimately have just one directory with your source code in it (frontend), at least code that needs to be referenced by PurgeCSS, is that right? Wouldn't that potentially cause some issues if the src folder is being referenced, as well (meaning that some selectors might be retained in your css in error)? I'm also assuming that you're running the `ngtw` command at this top lev

[2019-05-21 11:26] bentzibentz commented on #23
Tailwind 1.0.0 is stable now, is a new update coming soon?

[2019-05-21 16:19] tehpsalmist commented on #23
Hey @bentzibentz! Yeah, I'll get working on that. Is there anything in particular you'd expect to see in this tool now that v1 is available?

[2019-05-24 11:17] bentzibentz commented on #23
No particular wishes for the new version on my side. I think your tool is a great solution to work with tailwind in angular projects. Thanks for that!

[2019-05-24 12:19] tehpsalmist commented on #23
So glad you've enjoyed it!

[2019-05-24 19:22] tehpsalmist commented on #22
2.0.0 is out, and should provide a way forward for monorepos. Use the `content` property to establish different globs for PurgeCSS to examine. Let me know how it goes!

[2019-05-24 19:22] #22 closed, assigned to nobody

[2019-05-24 19:22] tehpsalmist commented on #23
2.0.0 is out. Enjoy.

[2019-05-24 19:22] #23 closed, assigned to nobody

[2019-05-24 19:25] tehpsalmist commented on #2
Closing this issue, as there is [an article](https://medium.com/@tehpsalmist/keeping-the-wind-in-your-wings-6aa49342651) available describing how this is easily done with the project as is, I've outlined above how I'm currently doing it, and honestly, people should just be using [Parcel + PostCSS](https://parceljs.org/css.html#postcss) for their React + Tailwind apps anyway LOL.

[2019-05-24 19:25] #2 closed, assigned to tehpsalmist

[2019-06-04 13:33] przem opened #24 "Tailwind per angular component"
Hey,

quite often we have a dedicated styles per component:

[code]

The main reason is to keep the styling close to component, also to lazy load it by angular.

Would be nice to have component styles under context of tailwind.

As we checked, we could @import url() each component stylesheet from sourceCSS file, but its error prone and still no lazy loading.

[2019-06-04 19:25] tehpsalmist commented on #24
Can you be more specific about what you're trying to do?

I can say this though, I have little to no intention of including component css files in the tailwind build process with this tool. That will have to be a side project for someone else, unless I get a PR with a very elegant solution. Tailwind classes are global by nature, and purgeCSS makes your stylesheet small enough to not worry about la

[2019-06-16 21:05] #24 closed, assigned to nobody

[2019-06-20 15:04] kameelyan opened #25 "ngtw watch issues and other minor improvements"
Having some problems after following the installation instructions on a brand new Angular 8 application and a fresh install of ng-tailwindcss.

Starting with the minor stuff:
1) The ng-tailwind.js file generated paths with '\', which caused issues when I changed the path to 'src\sass\tailwind.scss' because '\s' was treated like an escaped character. Had to manually switch them to '/'.

2) Sass doc

[2019-06-20 15:58] tehpsalmist commented on #25
That's really helpful feedback @kameelyan ! Thanks for being thorough. It sounds like you're working on Windows, is that right? Also, do you know what version you're running (to your point, haha)?

I can get to work on updates for 2, 3, and 4 (not sure how soon though, so feel free to make some commits in the meantime 😉). 1 is a little more complex for me, as I will have to find a windows machine

[2019-06-20 16:20] kameelyan commented on #25
That's correct, I'm on windows 10! Given the project I'm working, not sure I'll have the time to commit here, but thankfully 1-4 are pretty easily managed with just a one time change. #5 is pretty crazy to me, not sure what's up there. Angular's watcher is working fine on changes, so not sure if it's windows specific or what.

Looks like I'm on ng-tailwindcss@2.0.0.

[2019-06-20 16:36] kameelyan commented on #25
Looks like using polling instead worked for me in your watch.js file. Perhaps you can add a set of config properties to turn this on and off and set interval?

const tailwind = chokidar.watch([config.configJS, config.sourceCSS], { usePolling: true });

[2019-06-20 17:31] mearleycf opened #26 "Tailwind css classes not working in angular 8"
I've followed the instructions for installing into a new project, and I'm attempting to use the classes on my elements, but it appears they are not working. You can see the repo [here](https://github.com/mearleycf/unitcards), and here is an example of what I'm doing:

[code]
When I inspect the code, the system simply doesn't recognize any of the classes as existing at all--there is nothing in the

[2019-06-20 19:30] tehpsalmist commented on #26
Fascinating, it looks like perhaps Angular 8 made some changes that need to be adjusted for. I'll take a look in the next day or so. Let me know if you learn anything insightful in the meantime.

[2019-06-20 19:34] tehpsalmist commented on #25
You're on Angular 8, right? I think there may be issues with that new release that are causing issues ngtw, so I'll be doing some work on that soon. Thanks for digging all that up!

[2019-06-20 19:53] kameelyan commented on #26
The issue is you're using angular with scss, but the output file for your tailwind is .css, try changing it and it should work. Basically, the flow is: tailwind outputs a styles.scss, which is read by angular (should the same one you define in the angular.json file) and that gets compiled into your app.

[2019-06-21 16:25] tehpsalmist commented on #26
Ha, yep, that's a simple fix. Thanks for stepping in with that answer, @kameelyan.

[2019-06-24 15:16] mearleycf commented on #26
Simple simon there, thanks for that. I read the documents as styles.css being the replacement version of the angular styles.scss file, i.e. my brain interpreted that as it being the output version. Which of course it wouldn't be b/c there are still other files to potentially compile. My bad. Glad it was easy!

[2019-06-24 15:16] #26 closed, assigned to nobody

[2019-06-26 02:55] bgreay opened #27 "Clarification of Sass use in documentation"
Hi, in the documentation regarding Sass it says:

I created a new Angular 8 project with SCSS styling:

` ng new tailwind-test --routing --style=scss `

when setting sass to true in `ng-tailwind.js` ngtw warns that 'node-sass' is not installed.

I haven't explicitly removed node-sass, and my component-level scss is working, but its not listed as a dependency either in a new angular 8 project (I'm

[2019-06-27 00:09] tehpsalmist commented on #27
Did you try running everything? I should just use your local node-sass. When you say it "warned," does that mean it failed to run, as well?

Glad you're enjoying the project! Tailwind rocks! :)

[2019-06-27 01:36] bgreay commented on #27
Wow, it does actually work! So now I'm questioning what the Sass setting in `ng-tailwind.js` is for? I interpreted it as "if you want to use sass/scss in your tailwind.scss file, enable this setting".

my working setup:
- angular 8
- tailwind 1.0.4
- sass: **false** (in `ng-tailwind.js`)
- some example scss in `tailwind.scss`:

[code]

If I have scss in my tailwind.scss file as above, but sass is

[2019-06-27 01:43] tehpsalmist commented on #27
ha, it's probably not even doing anything, then. If you `npm i -O node-sass`, and set sass to true, then it will run sass _before_ it goes through tailwind's build step. I've heard that tailwind accepts sass syntax, so it's probably just going through fine and then Angular is doing the sass stuff later. Welp, now we know!

[2019-06-27 04:27] tehpsalmist commented on #25
Hey @kameelyan , So sorry it took me this long to get to looking into this stuff. I'm trying to reproduce your situation and everything is working so far. What does your start script look like? Here's mine:
[code]
I have been able to edit any tailwind file or even ng-tailwind.js, and everything continues reloading as expected, and I'm not passing `{ usePolling: true }`, either.

Also, what is your

[2019-06-27 04:48] tehpsalmist commented on #27
Ok, so I did some digging and found that Angular 8 doesn't include node-sass any more. It uses dart sass, so I'll release an update that accounts for that and will use dart sass if its available.

https://blog.ninja-squad.com/2019/05/29/angular-cli-8.0/

[2019-06-27 05:14] #27 closed, assigned to nobody

[2019-06-27 05:42] tehpsalmist commented on #25
Ok, got some of those niceties into the repo. I'll leave this open for a few days, just in case I missed something with your main problem (#5 above), but I think we're good here otherwise.

[2019-07-02 19:29] kameelyan commented on #25
Because I'm on windows, & doesn't always work. I ended up having to use something called concurrently, which runs two commands in parallel on windows. Ultimately, it looks like this:
"serve": "concurrently \"ng serve\" \"ngtw watch\"",

My outputCSS is:  outputCSS: 'src/sass/styles.scss',

[2019-07-02 19:35] kameelyan opened #29 "Win10 - ngtw build --purge throws an error"
When I run ngtw build --purge, I receive the following error:

**Error: EISDIR: illegal operation on a directory, read**

Notably, it works fine when it's running a build on Azure, but not when running locally on my Win10 machine.

[2019-07-02 19:36] kameelyan commented on #25
To add, also downloaded the latest version and tried the watcher again. Still the same issue, only works with polling enabled.

[2019-07-02 22:07] tehpsalmist commented on #29
Crazy stuff. Most likely that azure build is linux, so that probably explains the smoothness there. I'll have to try to pull my windows machine together to try this stuff out.

[2019-07-18 13:48] kameelyan opened #30 "Feature Request: Add watcher config option to watch a custom file pattern"
When creating tailwind components, you're likely to want to put those into another set of files, likely in a sub folder. Currently the watcher only watches a specific set of files.

[2019-07-18 14:34] tehpsalmist commented on #30
Loving these feature requests! I must be the most watered-down tailwind user LOL. I'll see if I can find time to implement something like this over the weekend, but I've got a lot going on, so PRs welcome! :)

[2019-07-18 17:05] kameelyan commented on #30
Yea, just wanted to pass along feedback. We had to move away from this as we need some additional webpack setup and at that point we just figured it'd be easier to handle it all there instead of also needing a global cli to handle the build. I like what you've started here though, and good luck with it!

[2019-07-19 13:40] tehpsalmist commented on #30
Awesome, maybe one day Angular will let us do what we want with the webpack config, so tools like this will be unnecessary. 🤷‍♂

[2019-08-02 13:50] szucsnandor commented on #11
Hello,

The generated ng-tailwind.js file still has backslashes. Need to update manually.

[2019-08-02 17:37] Local9 commented on #25
ng-tailwindcss@2.1.0

If using windows I recommend using concurrently which allowed me to find an error. Looks like it failed on a temp file and then doesn't run again.

[code]

So to add, I can see it making the file but then it drops rather quickly and the output file is empty.

ngtw on its own;
[code]

The duplication of messages might also give a clue.

Final Edit: Adding `{ usePolling: true }

[2019-08-02 18:22] tehpsalmist commented on #25
Hey thanks for the investment of your time. I will try to get on windows and try this out and see if I can come up with a fix. In the meantime, if anyone has code samples or a PR to resolve this, I'm very open to seeing it.

[2019-08-02 18:23] tehpsalmist commented on #11
Thanks for the feedback @szucsnandor. it would seem there is a lot of work to be done on the windows front.

[2019-08-03 14:59] Local9 commented on #25
After digging around the outskirts it looks like there are two instances of the watcher running which causes the exception (haven't looked into why), after which that causes the files to stop updating as we're noticing.
By adding `{ usePolling: true }`, after one instance has errored due to a race to processing the files you're left with only one watcher running which then polls successfully along

[2019-09-10 18:14] tuurbo opened #36 "Feature Request: Allow specifing a specific ng-tailwind.js file"
example:
[code]
[code]

[2019-09-11 21:08] tehpsalmist commented on #36
Can I ask what the use case is for this? If you're trying to plan for varying build configurations, the file is just javascript, so you can hook into process.env and other nodejs features to change config properties. I designed it that way on purpose, if that helps.

[2019-09-11 21:35] tuurbo commented on #36
Having separate files felt cleaner to me but I was able to make it work by appending a name to the end of the command
[code]
[code]

[2019-09-11 21:40] tehpsalmist commented on #36
Awesome, looks good to me!

[2019-09-11 21:40] #36 closed, assigned to nobody

[2019-09-16 01:43] benwinding opened #37 "Instructions for use with "ngx-build-plus" which should make integration much easier"
Not sure if you're familiar with the angular build tool called [ngx-build-plus](https://github.com/manfredsteyer/ngx-build-plus) (I only discovered it recently). This allows you to add to the default `webpack.config.js` by providing your own **partial webpack config** file.

In my experience it works pretty well, and I'm sure it would make the integration of tailwindcss into a project much easier,

[2019-09-16 02:59] tehpsalmist commented on #37
Wow, looks cool. Last commit on June 1, so hopefully it's not abandoned. I would say if you're able to get tailwind working with that tool, awesome, then you don't need this one. Otherwise, they are mutually exclusive tools. With respect to tailwind, you'd have to pick one.

Thanks for the tip, cool to see others in the community creatively solving these problems.

[2019-09-16 02:59] #37 closed, assigned to nobody

[2019-09-24 08:28] MatthewLHolden opened #40 "Purge appears to exclude classes following an id"
During the development process, purge was set to `false`. Upon building for deployment, I set this to `true` but noticed that a bunch of custom styles in the config file were completely excluded.

After a little fiddling around, it appears to be that any custom styles that have an id element followed by a class seem to be excluded. For example:

[code]

However, if I were to remove the `.` from `.

[2019-09-24 14:47] tehpsalmist commented on #40
are you dynamically creating the class .form-input in your code?

[2019-09-24 14:47] tehpsalmist commented on #40
Keep in mind, this might just be a purgeCSS issue, so you might want to search their docs/community, too.

[2019-09-25 07:04] MatthewLHolden commented on #40
Thanks for the response Ben. I've removed 'form-input', pointless having two of the same class options anyway! ha. As for the rest, I'd had to create a new stylesheet and manually add in the styles rather than use tailwind. I'll have a look on the purgeCSS site.

[2019-09-25 12:11] tehpsalmist commented on #40
Ok, feel free to open this up again if you have further issues or more information/code to share.

[2019-09-25 12:11] #40 closed, assigned to nobody

[2019-11-07 06:04] kristher1619 opened #49 "How do I use @apply in components"
I managed to setup my app using your package but I can't seem to make it work when using @apply tw-text-2xl etc... on sub components like app.component.scss

[2019-11-07 21:17] tehpsalmist commented on #49
as far as I understand, that is something you can't do. the machinery parsing your tailwind stuff isn't looking at component-level stuff, unless by accident. I thought I had heard rumor that some people got it working, but it's not something I have used, nor did I build this specifically to support it, unfortunately. I would recommend you consider doing your custom component css in the global styl

[2019-11-08 18:42] tehpsalmist commented on #49
Gonna close this for now, but feel free to continue the discussion if you have more questions.

[2019-11-08 18:42] #49 closed, assigned to nobody

[2019-11-11 13:53] Tuuben opened #51 "Question: Watching Scss files"
Is it possible setup ngtw to watch for changes in all files that are being imported into the main .scss file that ngtw watches?

Let's say i want to split the main .scss file into multiple files to contain components like buttons etc. Currently the watch is only triggered when changes are made to the "main.scss" file.

[2019-11-11 15:56] tehpsalmist commented on #51
This feature would require some code changes for sure. Not currently supported, but I can see the use for it.

[2019-11-15 05:21] SeverinAlexB commented on #49
This would be an awesome feature
Maybe it is possible with the `@extend` feature of scss?

[2019-11-15 18:33] tehpsalmist commented on #49
The actual issue has to do with watching extra files and the complexity of doing that. I was loathe to do that because those files are already being watched by angular-cli as it is, and I didn't want this package to be a big drag on the file system and other stuff.

[2019-11-15 23:19] iamalvisng opened #52 "Import CSS files into tailwind.css using @import does not compile to styles.css"
Hi,

First time working on Angular and Tailwindcss.
I wonder how can I import CSS files into tailwind.css using @import and have it compiled like what `@tailwind base` does. Is that possible using ng-tailwindcss?

[2019-11-17 03:52] tehpsalmist commented on #52
I'm pretty sure that should work just fine in terms of compilation. However, the problem that ng-tailwindcss sought to solve was this: integrating the tailwind build process with the angular-cli build process, so that when any file is saved, it will trigger all of the relevant files to be rebuilt and included by the development server while developing. The scenario you are pointing out here may no

[2019-11-18 01:17] iamalvisng commented on #52
@tehpsalmist Many thanks for the clarification. In that case, I'm gonna go for a custom webpack.

[2019-11-18 01:17] #52 closed, assigned to nobody

[2019-11-20 09:42] ssruiz opened #53 "Sass issue"
Hi.
I'm developing in angular 8 and have my styles set to .sass.

I set(in ng-tailwind.js) te sass: true but when I execute the ouput file results as .css. Is that correct? Doesn't it have to convert all to sass?

[2019-11-20 18:13] tehpsalmist commented on #53
yeah, that is correct. all of your tailwind related sass gets run through the sass compiler and then passed off to angular as css. Then Angular does any sass stuff with your component styles (non-tailwind stuff)

[2019-11-20 18:13] #53 closed, assigned to nobody

[2020-01-23 03:55] algooru opened #60 "npm run start does not watch for changes in tailwind.css, must re-run npm start for changes to take place."
[code]

Followed all the instructions correctly. If it helps this is the [repository ](https://github.com/amguruprasath/tailwind-angular)

[2020-01-23 04:56] tehpsalmist commented on #60
I don't see any tailwind related files in that repository. Are you sure you've pushed up the latest changes?

[2020-01-26 05:47] tehpsalmist commented on #60
Closing due to inactivity, but if this is genuinely an issue, feel free to reopen.

[2020-01-26 05:47] #60 closed, assigned to nobody

[2020-04-18 13:32] hgndgn opened #72 "Question: How to add multiple css files with tailwind imports ?"
How to add multiple css files with tailwind imports ? For example navbar.css etc. for separating purposes ?

[2020-04-18 18:34] tehpsalmist commented on #72
You can probably import them into your global stylesheet. If you're talking about a file that is being used by an angular component, then this package does not support that. you'd have to mess with the underlying webpack configuration, which isn't allowed, and is why this package exists. Does that address your question, or did I miss something?

[2020-04-18 19:37] hgndgn commented on #72
I think yes. I meant something like this:
<pre>
sourceCSS: [ 'src/assets/styles/tailwind.css', 'src/assets/styles/navbar.css', ....],
outputCSS: 'src/assets/styles/styles.css',
</pre>

Thank you for the answer.

[2020-04-20 15:07] tehpsalmist commented on #72
I believe using imports in your tailwind.css will solve this. Going to close, but please reopen if I misunderstood anything.

[2020-04-20 15:07] #72 closed, assigned to nobody

[2020-05-04 02:52] Ademking commented on #11
This problem still exists. My solution is to test what is the operation system
I think we could modify `/lib/configure.js`
[code]

[2020-05-04 13:58] tehpsalmist commented on #11
Could you show me a before and after of your ng-tailwind.js? It's unclear what is going wrong here. Thanks, and sorry this issue has persisted this long.

[2020-05-04 14:37] tehpsalmist commented on #11
Ah, ok, finally got a windows machine running and I see the issue now. I'll see what I can do about this.

[2020-05-06 04:17] tehpsalmist commented on #11
All right, I do believe I've laid this one to rest now. v2.2.1 should have done the trick.

[2020-05-06 04:17] #11 closed, assigned to nobody

[2020-05-06 04:57] tehpsalmist commented on #25
I just tested 2.2.1 on windows 10 running in Powershell with vs code and an Angular 9.1.4/tailwind 1.4.4 project. I did not implement anything with `usePolling`, but I also could not reproduce the bugs mentioned in this thread. I'm going to close this issue, as it appears updates with dependencies and some path fixes have resolved it.

[2020-05-06 04:57] #25 closed, assigned to nobody

[2020-05-06 04:58] tehpsalmist commented on #29
No idea still why that might have happened other than something in your local setup. I can't reproduce. Again, thanks for leaving all the feedback behind!

[2020-05-06 04:58] #29 closed, assigned to nobody

[2020-05-06 04:59] tehpsalmist commented on #30
going to track this in #51

[2020-05-06 04:59] #30 closed, assigned to nobody

[2020-05-15 15:52] antonellopasella commented on #51
https://github.com/tehpsalmist/ng-tailwindcss/pull/79

[2020-05-16 00:24] antonellopasella opened #80 "Avoid to install ng-tailwindcss globally"
Is there a way to execute ngtw scripts without having ng-tailwindcss installed globally?

I tried with devDependencies and manage scripts but it's not working

Thanks!

[2020-05-16 20:35] euxn23 opened #82 "ng-tailwindcss is useful with Next.js. So would you consider other name means even useful in even non-angular project?"
I use ng-tailwindcss in Next.js project, and it seems to be works with no problem. (at here https://github.com/euxn23/next-ng-tailwindcss)
But `ng-tailwindcss` seems to be library for **only Angular**. (or programmer who don't know Angular context, `ng` naming may misleading... 😭 )

Initialy, this library may be helper for only Angular, but now, this solution is beneficial for non-angular project

[2020-05-19 14:43] tehpsalmist commented on #82
The nature of this project is that, yes, it can work just about anywhere. However, the point is not to use this project at all, but rather to use tailwindcss the way it works best. In Angular, this is your only sane choice. In just about all other build systems, however, you don't need this, as you either have access to the build tooling, or there are other means by which you can include tailwind.

[2020-05-19 14:43] #82 closed, assigned to nobody

[2020-05-19 15:13] tehpsalmist commented on #80
I could not reproduce this. I completely unlinked and uninstalled all global ngtw packages, then ran
[code]
And all scripts worked as expected.

I'm going to close for now, but please reach out if you have a more thorough reproduction of the problem.

[2020-05-19 15:13] #80 closed, assigned to nobody

[2020-06-08 13:22] Alessandroinfo opened #86 "require() is not a function error"
When I add a plugin for Tailwind with a project with default ng-tailwind configuration I receive this error when I build.
I have the latest version of ng-tailwindcss, tailwindcss and angular.

[2020-06-08 13:52] Alessandroinfo commented on #86
Solved, it was because i added **()** after require.

[code]

[2020-06-08 19:20] tehpsalmist commented on #86
Glad you got it sorted! :)

[2020-06-08 19:20] #86 closed, assigned to nobody

[2020-06-17 14:30] Alessandroinfo commented on #49
I follow this.

[2020-06-27 13:03] vcodx opened #88 "Overwrite built-in extractor"
Currently it is not possible to overwrite the built in extractor.

[code]

[2020-06-30 04:19] #88 closed, assigned to nobody

[2020-06-30 04:29] tehpsalmist commented on #88
v2.2.3 🚀

[2020-07-29 03:50] #51 closed, assigned to nobody

[2020-08-04 12:41] samwilliscreative opened #94 "npm run start not watching tailwind files"
The following repo shows the set up: https://github.com/samwilliscreative/ngtailwind-watch-issue

Running `npm run start` serves the angular app, but the watcher for tailwind doesn't appear to run. Making changes to my tailwind.scss file doesn't trigger a tailwind rebuild either.

Running `ngtw watch` works on its own though.

Would really like to get this working as part of the regular serve scri

[2020-08-04 19:38] dominmana opened #95 "Class missing after ngtw build --purge when using ngClass."
I am not entirely sure about this, but I noticed that when I used `ngClass` in a component to dynamically add the "hidden" class, it was not included in the final build after using `--purge`. Have you experienced this? Or am I doing something wrong?

 `<nav class="flex flex-col lg:flex lg:flex-row lg:items-center justify-between px-4 mt-4"
     [ngClass]="{ hidden: !isOpen }">

    </nav>`

In the

[2020-08-07 14:55] tehpsalmist commented on #94
you're running this on Windows, right? I won't have access to windows to test it out until later next week, but then i can try to repro your issue.

When you say it doesn't trigger a tailwind build, do you mean the tailwind.css file doesn't update with the new syntax? or do you mean that angular doesn't recognize any changes?

[2020-08-07 15:24] tehpsalmist commented on #95
wow! that is a curious bug... Here are two solutions that come to mind:

1. wrap your object keys in `'single-quotes'`. This I have tested and it works. I reproduced the bug using `no-quotes: boolean` syntax, confirmed the class was absent from the output, then wrapped it in `'single-quotes': boolean`, and the class showed up in the output.

~2. I have not tested this yet, but I am confident that

[2020-08-07 15:28] samwilliscreative commented on #94
Yes, on windows. I mean that the tailwind.css file doesn't get updated. For example, I run the npm script that watches tailwind and serves the angular app, I make changes to the tailwind.scss file, nothing happens to the compiled tailwind css file. I have to stop and start the npm script for it to pick up those tailwind changes.

[2020-08-07 15:43] tehpsalmist commented on #95
Update: it looks like ng-tailwindcss does not support tailwind's `purge` option. I'll use this issue to track it, and hopefully an update will be forthcoming soon.

[2020-08-07 17:00] tehpsalmist commented on #95
Further update: removing any ng-tailwindcss purge flags, and relying solely on [tailwind's `purge` functionality](https://tailwindcss.com/docs/controlling-file-size#removing-unused-css), you can put `NODE_ENV=production ngtw b && ng build` in your package.json `build` script and it will work to capture that ngClass.

I'm going to work on something to help avoid setting NODE_ENV values to enable pu

[2020-08-08 22:47] tehpsalmist commented on #94
One thing I do notice in your configuration is that you have `"sass": false` in your ng-tailwind.js. Does setting that to `true` help at all?

Also, you can leave the `"watchRelatedFiles"` array empty. I don't think that redundancy is messing anything up, but who knows, maybe it is.

[2020-08-09 04:11] tehpsalmist opened #97 "Deprecation?"
So, apparently with the advent of Angular 8, you can now extend the webpack configuration and get tailwind to work seamlessly with Angular, **including using tailwind directives in component files**.

It's possible that there may yet be uses for this package, so I'll happily update it if the need arises, but it also sounds like it has served its purpose and has now outlived its usefulness. _Big th

[2020-08-09 04:12] tehpsalmist commented on #95
please note #97 .

[2020-08-09 04:13] tehpsalmist commented on #94
please note #97 .

[2020-08-09 09:35] dominmana commented on #95
Thanks for all the information

[2020-08-10 07:40] samwilliscreative commented on #94
Changing these two options made no difference unfortunately.

[2020-08-10 07:42] samwilliscreative commented on #97
I am on angular 9 and originally follow that article. Unfortunately I couldn't get it working and ended up using this package which was pretty painless.

[2020-08-10 11:21] Dozorengel commented on #94
I confirm the issue. I find that `ng serve & ngtw watch` is not watching tailwind files, though if I don't run these commands simultaneously, using two terminals instead, they're working fine. Btw, I use `watchRelatedFiles` option.

[2020-08-10 20:09] tehpsalmist commented on #94
all right, this is sounding like a windows issue. I'll have to check it out on Friday.

[2020-08-11 15:53] tehpsalmist commented on #94
Have any of you considered that maybe your powershell isn't running cross-platform, and therefore isn't properly understanding the `&` in your npm start script? This [SO answer](https://stackoverflow.com/a/62578742/7872063) was interesting on that point.

[2020-08-13 04:38] Dozorengel commented on #94
@tehpsalmist nope, I'm using cross-platform powershell. After doing some research, I found that `&` makes job to execute in background.
I'm afraid that WIndows users have to use WSL or [npm-run-all](https://www.npmjs.com/package/npm-run-all) package to run in parallel an easy way. Or somehow do that with powershell commands, but honestly it's not so annoying to run these commands in different term

[2020-08-13 18:39] tehpsalmist commented on #94
ok, great! I will close this with those options being the solution.

[2020-08-13 18:39] #94 closed, assigned to nobody

[2020-08-16 22:34] tehpsalmist commented on #97
Well that's a shame, because I was able to get it working on Angular 9, but I can see how it is very consistent with Angular's high barrier to entry when it comes to modifying the build or using anything beyond `ng new` or `ng generate`.

[2020-08-17 14:46] jagdishjadeja opened #98 "where to find working examples"
where can i find working examples of ng-tailwindcss ?

[2020-08-18 04:40] tehpsalmist commented on #98
Have a look through the Readme and I'll be happy to help if you get stuck on something specific.

[2020-08-18 04:40] #98 closed, assigned to nobody

[2020-08-20 08:50] Dozorengel commented on #97
I just tried to get it working, it was really painful for me, couldn't make custom imports work and serving the app is way slower, so got back to this package.

[2020-08-20 09:03] Dozorengel opened #100 "Tailwind v1.7.0 Experimental features enable"
As [new release](https://github.com/tailwindlabs/tailwindcss/releases/tag/v1.7.0) brings features like deprecation notifications and experimental flags, it'd be great to be able to enable them.

When I tried to install tailwind via postcss-loader, I saw some messages in console, that some experimental features were enabled, but there is silence. Another example, I can't make work `extendedSpacingS

[2020-08-20 18:02] nartc commented on #97
This is a better (up-to-date) article that works pretty well for me. https://medium.com/@jacobneterer/angular-and-tailwindcss-2388fb6e0bab

[2020-08-21 08:49] Dozorengel commented on #100
I'm sorry, I messed up with `future` and `experimental` sections in tailwind config, all is working as expected

[2020-08-21 08:49] #100 closed, assigned to nobody

[2020-08-29 13:44] Dozorengel commented on #97
@nartc thanks, I have finally managed to make it work, now I'm able to use all the tailwind benefits, that's awesome

[2020-08-29 16:50] nartc commented on #97
@Dozorengel No prob! I modified my tailwindcss schematics based on that one. Been working really well for both Angular and Nx projects.

[2020-10-02 20:10] TomzBench commented on #97
@nartc

This artical worked for me but I had to modify my webpack.config slightly here:

[code]
(source: https://stackoverflow.com/questions/63858991/how-to-setup-tailwind-for-a-new-angular-project)

[2020-10-02 23:19] nartc commented on #97
@TomzBench That is due to the change in latest postcss-loader. I already notified Jacob (the article’s author) about the change. Hopefully he finds sometimes to get the article updated so people won’t get confused.

[2020-10-21 23:07] dewue opened #106 "wrong paths in ng-tailwind.js"
In my build process (github to firebase) the file 'src\tailwind.css' could not be found.
I had to change the paths in the file ng-tailwind.js:

  outputCSS: 'src\\\styles.css',

to:

  outputCSS: 'src\\/styles.css',

[2020-10-23 16:09] tehpsalmist commented on #106
are you running the command on a windows machine?

[2020-10-23 21:11] dewue commented on #106
Locally yes, but I doubt the github pipeline where it fails is windows.

[2020-10-24 06:56] tehpsalmist commented on #106
if you are checking those files into git, then you'll need to be aware that if it saves to your local machine with windows paths, then when the code hits the pipeline in a *nix environment, it will break. Not sure what else to do about this other than recommend that you revisit your build process to make sure that it is not updating files without minding the environment it is running in. One solut

[2020-10-24 14:04] dewue commented on #106
It is not a serious issue. I just wanted to let you know this kind of error can happen.
Thanks for your answer.

[2020-10-26 04:25] #106 closed, assigned to nobody

[2020-12-10 19:41] #95 closed, assigned to nobody

[2020-12-13 21:28] MatthewLHolden commented on #97
I've followed that exact article and keep getting error after error. Has anyone experienced that at all?

[code]

[2020-12-13 21:47] MatthewLHolden opened #114 "Tailwind 2.0 Compatibility"
Hi Team,

I've just installed Tailwind 2.0 > `npm prestart` =

[code]

After following the guides here: https://tailwindcss.com/docs/upgrading-to-v2#upgrade-to-node-js-12-13-or-higher and here: https://tailwindcss.com/docs/installation#post-css-7-compatibility-build

`npm install tailwindcss@latest postcss@latest autoprefixer@latest`

[code]

I now get the following error when running the ng-tailw

[2020-12-14 19:51] tehpsalmist commented on #97
what node version were you using?

[2020-12-14 20:03] tehpsalmist commented on #114
I think this is as simple as updating the command to use `tailwindcss-cli` instead of `tailwind`. I'll try to get a fix out later today.

[2020-12-14 20:03] tehpsalmist commented on #114
PRs welcome though. ;)

[2020-12-16 19:29] MatthewLHolden commented on #114
Awesome, thanks! I look forward to it - I managed to get stuff up and running without ng-tailwindcss, but the build times are a million times slower for some reason.

[2020-12-16 19:41] MatthewLHolden commented on #97
I'm on version 14.15.1.

I've tried the articles above and got it working, but the build times are insanely slow. It's making the development process quite tedious. I'm wondering if it's changing from this `builder": "@angular-devkit/build-angular:browser",` to webpack.

[2020-12-16 19:59] tehpsalmist commented on #114
time to pioneer some new ground, my friend. :)

[2020-12-16 20:27] MatthewLHolden commented on #114
ha, I'm coming pretty close to scraping Tailwind altogether. The build times are so slow that it's becoming detrimental to work efficiency. If I can't upgrade to TW2, it'll most likely mean future Tailwind UI updates probably won't work (which i've paid for). So if I can only get build times to run probably whilst on V1, there's probably not much point. Your solution allowed the builder not to be

[2020-12-17 02:45] tehpsalmist commented on #114
Interesting. I'd be curious to see the project you're working on where this is happening. I'll also try to get a new version out tonight maybe.

[2020-12-17 05:11] tehpsalmist commented on #114
Ok, it turns out that this is just an issue with postcss 7 being used in Angular. Simply follow the guide [here](https://tailwindcss.com/docs/installation#post-css-7-compatibility-build) to understand the issue, and running this simple install script will solve your problem:

[code]

[2020-12-17 05:11] #114 closed, assigned to nobody

[2020-12-17 05:13] tehpsalmist commented on #97
Posting here for posterity, since this is a tool used most often in angular apps:

[code]

Angular is still using postcss 7, so this is the workaround that tailwind supports until postcss 8+ is in use in your project.

[2021-01-06 16:48] Cephyric-gh commented on #97
Angular 11.0.5 updates the CLI to internally use PostCSS 8 now, so shouldn't need the compat. Personally I haven't been able to quite make the switch away from this package since Angular 8, there has always been something that got in the way of it working. I was finally able to make the switch by using [@ngneat/tailwind](https://github.com/ngneat/tailwind) (an upgrade schematic), which seems to in

[2021-01-06 18:16] tehpsalmist commented on #97
Good to know @tomhughes-invento ! Thanks for dropping the knowledge on us.

[2021-01-21 10:07] brawler129 opened #120 "Importing custom css files to sourceCSS."
I am trying to import custom css files into sourceCSS. These custom css files contain tailwind syntax like @apply. While building the imports are just converted to the same imports in the outputCSS file.
My sourceCSS file looks like this

[code]

My custom css file auth.css looks like this

[code]

In my output file I got this

[code]

The contents of  auth.css is not getting processed by Tailwind

[2021-01-21 22:24] tehpsalmist commented on #120
Hey @brawler129 , thanks for reaching out. Have you tried raising this issue in the tailwind community and seeing how others solve this type of problem? I'm not sure I can support this feature any time soon, if at all. You might want to check out #97 for some direction on how to use the angular build system to get all of your individual files processed via tailwind and angular. Personally, when I

[2021-01-25 11:38] vltansky commented on #120
@brawler129 check this example https://github.com/vltansky/angular-tailwind-importcss using ngneat/tailwind

[2021-01-25 21:43] tehpsalmist commented on #120
@vltansky can you provide some pointers to which files are the most relevant for this example? That's a lot of code to chop through, but I'm sure there's just a few details to observe to understand what's going on. I think it would be particularly helpful for a lot of folks asking these questions.

[2021-01-26 06:22] vltansky commented on #120
@tehpsalmist I don't know what is the difference. I just know that I've used it in the past with imports and it worked for me, that's why I prepared this demo.
This demo is just `ng new someName` and `ng add @ngneaat/tailwind` thats all. Didn't do anything special.
ngneat/tailwind is patching Angular's postcss, so probably angular has some built-in support of import (guess `postcss-import` - ?)

[2021-01-26 15:53] tehpsalmist commented on #120
ok, awesome, it's very helpful to know it's as easy as running that simple ng command. Great!

[2021-01-26 18:06] brawler129 commented on #120
@vltansky Thanks a ton for creating that repository. Will definitely check out ngneat/tailwind, it seems to be a helpful package.
@tehpsalmist Thank you for creating this repository. As you suggested i did use this package and put all the custom css in sorceCss, and it wasnt so bad especially for a small project.
Nonetheless i will also try out the ngneat/tailwind package and see how it goes.
Than

[2021-01-26 18:06] #120 closed, assigned to nobody

[2021-06-04 16:19] scottromack opened #130 "JIT compilation?"
Does this work with the new JIT compilation. It seems like a much better workflow and purge wouldn't be needed.

Thanks,

[2021-06-04 18:21] tehpsalmist commented on #130
I don't know, but there's one way to find out. 😉

[2021-06-11 03:16] #130 closed, assigned to nobody

[2021-06-15 04:59] rkristelijn commented on #25
I had similar issues; `ngtw` seemed to pick up individual `scss` files, but not the `tailwind.scss`. After reading these comments (particularly from @tehpsalmist ; thanks) , I changed:

`package.json`'s `script {}` section

[code]

[code]

This helped. With one `&` I get this output (watch works on all tailwind files, including hot reloading):

[code]

With two `&&` I get this output (watch does o

[2022-03-11 15:09] mvehar-preskok opened #138 "Output stderror stream from tailwind command"
https://github.com/tehpsalmist/ng-tailwindcss/blob/eb27a63272b581f4b7cef7b57863331e1eca3fa6/lib/build.js#L52

I had an issue that error was not reported by exec command,    but instead i got error printed inside stderror variable (something regarding wrong classes).

Suggestion, if stderror * 3 in exec callback) is not empty, print it to console.error (we could also call Promise.reject in case of

[2022-03-11 15:52] mvehar-preskok commented on #138
Also tailwind build requires input files to be defined via -i parameter